<div class="container  text-center mt-5 mb-5">
    <!--Title-->
    <h1>Interview Task</h1>
    <!--Functional buttons-->
    <button type="button" class="btn btn-primary btn-lg m-3">Colored rows</button>
    <button type="button" class="btn btn-secondary btn-lg m-3">Sored by country</button>
    <button type="button" class="btn btn-secondary btn-lg m-3">Restore the init state</button>
</div>
<!--Users table loading from API-->
<section class=" container text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Country</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Isma</td>
                <td>Otto</td>
                <td>spain</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</section>